* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#Main {
    height: 500px;
    width: 800px;
    background-color: blueviolet;
    box-shadow: 0px 0px 20px rgb(0, 64, 255);
    position: relative;
    left: 30px;
    top: 30px;
}

div>div {
    position: absolute;
    height: 100px;
    width: 100px;
    border-color: black;
    box-shadow: 0px 0px 20px rgb(90, 84, 84);
    
}

#st {
    left: 200px;
    top: 100px;
    background-color: yellow;

}

#nd {
    left: 500px;
    top: 100px;
    background-color: greenyellow;
}

#rd {
    left: 200px;
    top: 300px;
    background-color: rgb(255, 47, 47);
}

#th {
    left: 500px;
    top: 300px;
    background-color: rgb(255, 47, 189);
}
div>div>div{
    width: 20px;
    height: 20px;
    background-color: aliceblue;
}
.ch1{
    left: 20px;
    top:20px;
}
.ch2{
    left: 60px;
    top:20px;
}
.ch3{
    left: 20px;
    top:60px;
}
.ch4{
    left: 60px;
    top:60px;
}